doctype html
html(lang='ru-RU')
    -var pageTitle = 'About Ilya Smetanin'
    include common/_head
    body.about-body
        include common/menu
        include common/main-night
        .about__wrapper
            <svg viewBox="0 0 100 100" preserveAspectRatio="none" class="bg__about">
            <g>
            <polygon points="50,100 100,0 100,100" class="bg__about-triangle bg__about-triangle_right "></polygon>
            </g>
            <g>
            <polygon points="0,0 0,100 50,100" class="bg__about-triangle bg__about-triangle_left"></polygon>
            </g>
            </svg>
            section.info-about-me#info_about_me
                //.info-about-me__bg
                h1 Обо мне
                .info__inner-wrapper
                    img(src='assets/img/ava-crop.jpeg', class='about-pict')
                    .text-about
                        h2 Кто я
                        p.text-about-me.
                            Я веб разработчик из Екатеринбурга. Мне 17 лет. 
                            Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент.
                            А пока посмотрите,как тут всё классно и красивo
            section.advantages
                h2 Чем я могу быть вам полезен
                .advantages__wrapper
                    p.my-prof.
                        Больше всего меня привлекет Frontend разработка, но я также знаком и
                        могу решать не сложные задачи на Backend. Но давайте по порядку.
                    .graphics
                        .front
                            h3 Frontend
                            .diagrams
                                .dia.html5

                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__html5 skills-circle" stroke-dasharray="#{(skills.html*314)/100}px 314px" r="50" cx="-60" cy="60"></circle>
                                    </svg>
                                .dia.css3
                                    <svg class="circle " width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__css3 skills-circle" stroke-dasharray="#{(skills.css*314)/100}px 314px" r="50" cx="-60" cy="60"></circle>
                                    </svg>

                                .dia.js
                                    <svg class="circle " width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__js skills-circle" stroke-dasharray="#{(skills.js*314)/100}px 314px" r="50" cx="-60" cy="60"></circle>
                                    </svg>

                        .back
                            h3 Backend
                            .diagrams
                                .dia.php
                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__php skills-circle" stroke-dasharray="#{(skills.php*314)/100}px 314px" r="50" cx="-60" cy="60"></circle>
                                    </svg>

                                .dia.nodejs
                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__nodejs skills-circle" stroke-dasharray="#{(skills.node*314)/100}px 314px"  r="50" cx="-60" cy="60"></circle>
                                    </svg>

                                .dia.mongo
                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__mongo skills-circle" stroke-dasharray="#{(skills.mongo*314)/100}px 314px" r="50" cx="-60" cy="60"></circle>
                                    </svg>

                        .workflow
                            h3 WorkFlow
                            .diagrams
                                .dia.git
                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__git skills-circle" stroke-dasharray="#{(skills.git*314)/100}px 314px" r="50" cx="-60" cy="60"></circle>
                                    </svg>

                                .dia.gulp
                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__gulp skills-circle" stroke-dasharray="#{(skills.gulp*314)/100}px 314px"  r="50" cx="-60" cy="60"></circle>
                                    </svg>

                                .dia.bower
                                    <svg class="circle" width="120" height="120">
                                    <circle r="50" cx="-60" cy="60"></circle>
                                    <circle id='circle' class="circle__bower skills-circle" stroke-dasharray="#{(skills.bower*314)/100}px 314px"  r="50" cx="-60" cy="60"></circle>
                                    </svg>



        section.map
            .about__contacts
                h2 Контакты
                ul.map__contacts_list
                    li.map__list_item.map__list_item-skype cuprum661
                    li.map__list_item.map__list_item-mail cuprum19930@gmail.com
                    li.map__list_item.map__list_item-tel +79221350965
                    li.map__list_item.map__list_item-adress my-addres, 31, 54
            .map-wrapper#map
                script(type="text/javascript").
                    var map;
                    function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 56.813163, lng: 60.569944},
                    zoom: 14,
                    scrollwheel: false,
                        styles: [
                            {
                                "featureType": "administrative",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "lightness": 33
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "gamma": "0.75"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative.neighborhood",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "lightness": "-37"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#f9f9f9"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape.man_made",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "40"
                                    },
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape.natural",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "-37"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape.natural",
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "100"
                                    },
                                    {
                                        "weight": "2"
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape.natural",
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "80"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "0"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.attraction",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "lightness": "-4"
                                    },
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#c5dac6"
                                    },
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "saturation": "-95"
                                    },
                                    {
                                        "lightness": "62"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi.park",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "lightness": 20
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "lightness": 20
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "gamma": "1.00"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels.text",
                                "stylers": [
                                    {
                                        "gamma": "0.50"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "gamma": "0.50"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#c5c6c6"
                                    },
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "lightness": "-13"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "lightness": "0"
                                    },
                                    {
                                        "gamma": "1.09"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#e4d7c6"
                                    },
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "47"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "lightness": "-12"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#fbfaf7"
                                    },
                                    {
                                        "lightness": "77"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "lightness": "-5"
                                    },
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "saturation": "-100"
                                    },
                                    {
                                        "lightness": "-15"
                                    }
                                ]
                            },
                            {
                                "featureType": "transit.station.airport",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "lightness": "47"
                                    },
                                    {
                                        "saturation": "-100"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "all",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#acbcc9"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "saturation": "53"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "lightness": "-42"
                                    },
                                    {
                                        "saturation": "17"
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "lightness": "61"
                                    }
                                ]
                            }
                        ]
                        });
                        }


        include common/footer

        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdqO1yNKISWVIVSnGlRUJ_vk57S0eNtyY&callback=initMap")
